
header{
    text-align: center;
    border: 4px solid rgba(214, 10, 190, 0.49);
    border-radius: 30px;
}
.main{
    display: grid;
    grid-template-columns: 2fr minmax(200px,1fr) ;
    gap: 1rem;
    padding: 1rem;
}
img{
    padding: 10px;
    border-radius: 20px
}
.imshow{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1rem;
    border: 4px solid sandybrown;
    border-radius: 30px ;
}
.about{
    border: 4px solid aquamarine;
    border-radius: 30px;
}
.about h2{
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about p{
    padding-left: 50px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    text-align: center;
    background-color:lightcoral;
    padding: 10px;
    border-radius: 20px
}
footer p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}